.main {
  padding: 1em 2em;
}

@media (min-width: 48em) {
  .nav {
    display: flex;
    justify-content: space-between;
  }
}

.search-country {
  display: flex;
}

.search-icon-container,
.search-input,
.country-filter,
.countries {
  background-color: var(--dark-mode-element);
}

.search-icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-icon {
  padding: 0.75em;
  cursor: pointer;
}

.search-input {
  border: none;
  outline: 1;
  color: var(--dark-mode-text);
  flex: 1;
  padding: 1em;
}

.country-filter {
  display: flex;
  margin-top: 3em;
  width: 60%;
}

@media (min-width: 48em) {
  .country-filter {
    margin-top: 0;
    width: 100%;
  }
}

.country-filter-label {
  padding: 1em;
  font-weight: 600;
}

.dropdown-icon-container {
  display: flex;
  align-items: center;
  padding: 1em;
  margin-left: auto;
}

.dropdown-icon {
  cursor: pointer;
}

.region-names-container {
  position: relative;
}

.region-names {
  background-color: var(--dark-mode-element);
  margin-top: 0.5em;
  width: 60%;
  list-style-type: none;
  padding: 1em;
  display: none;
  position: absolute;
}

.region-names > li {
  font-weight: 600;
  padding: 0.2em;
  cursor: pointer;
}

.region-names.is-open {
  display: block;
}

@media (min-width: 48em) {
  .region-names.is-open {
    width: 100%;
  }
}

.countries-container {
  margin-top: 1.5em;
  display: flex;
  flex-direction: column;
}

@media (min-width: 48em) {
  .countries-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-auto-rows: 1fr;
    gap: 1em;
  }
}

.countries {
  margin-bottom: 2em;
  cursor: pointer;
}

@media (min-width: 48em) {
  .countries {
    display: flex;
    flex-flow: column nowrap;
  }
}

.country-flag img {
  max-width: 100%;
  max-height: 100%;
}

@media (min-width: 48em) {
  .country-flag {
    flex: 1;
  }

  .country-flag .flag-image {
    height: 12.5em;
    max-width: 100%;
    object-fit: cover;
  }
}

.country-details {
  flex: 2;
  padding: 1.5em 0 2em 1em;
}

@media (min-width: 48em) {
  .country-flag,
  .country-details {
    display: flex;
    flex-flow: column nowrap;
  }

  .country-details {
    flex: 1;
  }
}

.country-name {
  font-weight: 800;
}

.country-other-info .population,
.country-other-info .region,
.country-other-info .capital {
  font-weight: 600;
}
